<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>:: Kanji List ::</title>
</head>
<body>
	<table>
			<thead>
		    	<tr>
		        	<th> Kanji </th>
		        </tr>
		    </thead>
		    <tbody>
				<tr th:if="${kanjiCharacterList.empty}">
		            <td colspan="1"> No result </td>
		        </tr>
		        <tr th:each="kanjiCharacter : ${kanjiCharacterList}">
		        	<td><a th:href="@{'/xml/search/' + ${kanjiCharacter}}"><span th:text="${kanjiCharacter}">Kanji Character</span></a></td>
		        </tr>
		    </tbody>
		</table>
</body>
</html>