
<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav">
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" th:href="@{/files/select}">Upload PDF</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/files}">Result Files</a>
          </li>
          <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link" th:href="@{/login}">Login</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
